.ad
{
    height: 500px;
    width: 500px;

    background-image: url("/Verkefni_1/skypic.jfif");
    background-size: cover;

    border: black solid;
    background-color: white;

    text-align: center;
    overflow: hidden;

    animation: movebackground;
}

.textUp
{
    animation: slidetoright 4s;
}

@keyframes slidetoright
{
    0%{transform: translatey(-250px);}
    100%{transform: translatey(0px);}
}

@keyframes fadein
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes movebackground
{
    0%{background-position: bottom;}
    100%{background-position: top;}
}