.ad
{
    height: 500px;
    width: 500px;

    border: black solid;
    background-color: rgb(255, 255, 255);
}

.bananas
{
    animation: slidetoright 2s ease-in-out infinite ;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes slidetoright
{
    0%{transform: translateX(0);}
    0%{transform: translateX(-250px);}
}