body{background-color:#fff}
div{border:1px solid rgba(0,0,255,0)}
input{background-color:#fff}
input[type=submit]{margin-top:10px;align-self:center}
[type=email],input[type=name]{padding:6px,20px}
.center{text-align:center}
nav input{display:none}
input[type=checkbox]{display:none}
nav{max-height:500px;overflow:hidden;transition:all 0s ease}
input:checked~nav{max-height:500px}
ul{list-style:none;margin:8px 0 0 0;width:100px;padding-left:0}
@media screen and (min-width:48em){
nav label{display:none}
.navigation{max-height:500px;align-content:center}
.navigation ul{display:flex;flex-flow:row;border:1px;padding-inline-start:0;padding-left:0}
.navigation li{border-top:1px solid #cecfd5}
.navigation li:first-child{border-left:1px solid #cecfd5;border-top-left-radius:6px;border-bottom-left-radius:6px}
.navigation li:last-child{border-bottom:1px solid #cecfd5;border-right:1px solid #cecfd5;border-top-right-radius:6px;border-bottom-right-radius:6px}
}