@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 0 0;
    font-family: 'Rubik';
    background-color: #AAFFAC;
    min-height: 400px;
    margin-bottom: 300px;
}

/**************************************************************************/

header{
    padding-top: 1em;
    padding-bottom: 1em;
}

header div img{
    width: 100px;
}

.dropdown{
    display: none;
}

nav{
    position: absolute;
    top: -130px;
    right: 4em;
    justify-content: center;
}

ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

ul li{    
    text-align: center;
    padding: 5px 0 5px 0;
}

a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

a:hover{
    color: blue;
}

input:checked ~ nav{
    top: 0px;
}

label{
    padding-left: 2em;
}

p{
    font-size: 18px;
}
/**************************************************************************/
.bottombar{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    background-color: #EAFFFD;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bottomfont{
    justify-content: center;
    font-size: 14px;
}

.constrain{
    width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    padding-left: 1em;
}

.border{
    border: 4px solid black;
}

.top-padding{
    padding-top: 1em;
}

.imgContainer{
    margin-top: 1em;
    padding: 0em .5em;
    display: inline-block;
    overflow: hidden;
}

.center-content{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.formcontainer{
    display: flex;
}

#takki{
    display: none;
}

#message{
    width: 100%;
    padding: 8px 8px;
}
#email{
    width: 45%;
    padding: 8px 8px;
}

input[type=submit]{
    height: 25px;
    width: 100px;
}

img{
    width: 250px;
}

.centergrid{
    display: grid;
    justify-content: center;
}

/*  Taktu eftir hér nota ég min-width sem þýðir að css-ið hér fyrir ofan er fyrir smærri skjái en 600px og hér fyrir neðan fyrir stærri skjái en 599px.  */
@media screen and (min-width:600px){
    img{
        width: 100%;
    }

    .hamburger{
        display:none;
    }

    nav{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;        
    }

    input:checked ~ nav{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    ul li{
        display: inline-block;
        padding: 5px 15px 5px 15px;
    }

    .constrain{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .center{
        display:flex;
        justify-content:flex-end;
        align-items:center;
    }

    .logo{
        padding-left: none;
    }

    .imgContainer{
        margin-top: 1em;
        display: inline-block;
        overflow: hidden;
    }

    .bottomfont{
        font-size: 14px;
    }
}