body{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Rubik';
}

header{
    height: 50px;
    margin-top: 1em;
}

nav:last-child{
    margin-right: 0px;
}

div a{
    margin-right: .5em;
    text-decoration: none;
    color: black;
    font-size: 30px;
    align-self: center;
    vertical-align: baseline;
}

.map{
    margin: 0 auto;
    border: 3px solid black;
}

a:hover{
    color:blue
}

.logo{
    height: 45px
}

.centerInDiv{
    display:flex;
    justify-content:center;
    align-items:center;
}

.imgContainer{
    margin-top: 1em;
    width: 350px;
    text-align: justify;
}

.imgContainer img{
    width: 350px;
    height: 350px;
    border: 3px solid black;
}

.textContainer{
    margin-top: 80px;
    width: 75%;
    margin-top: 2em;
    margin: 0 auto;
    font-size: 25px;
    border: 3px solid black;
}